<app-appnav></app-appnav>
<div class="container">
    <div class="py-5 text-center">
        <h2>Cart</h2>
    </div>

    <div class="row" *ngIf='cart.length; else noItemsInCart'>
        <div class="col-md-4 order-md-2 mb-4">
           <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Cart</span>
                <span class="badge badge-secondary badge-pill">{{cart.length}}</span>
           </h4> 
           <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>{{cartTotal | currency}}</strong>
                </li>
           </ul>
           <button class="btn btn-primary btn-block" routerLink='/checkout'>Checkout</button>
        </div>
        <div class="col-md-8 order-md-1">
            <ul class="list-group mb-3">
                <li 
                    class="list-group-item d-flex justify-content-between lh-condensed"
                    *ngFor='let product of cart'
                >
                    <div class="flex-grow-1">
                        <h6 class="my-0">{{product.name}}</h6>
                        <small class="text-muted">{{product.description}}</small>
                    </div>
                    <div class="d-flex align-items-center">
                        <h4 class="my-0">{{product.price | currency}}</h4>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn" (click)='removeFromCart(product)'>
                            <i class="far fa-times-circle"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #noItemsInCart>
        <h2 class="text-center">Your Cart is Empty</h2>
    </ng-template>
</div>